@import url("https://fonts.googleapis.com/css?family=Lato|Supermercado+One");

body {
  width: 900px;
  margin: 10px auto;
}

nav {
  font-family: sans-serif;
  font-size: 10px;
}

/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */

/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
main {
  columns: 400px 2;
  column-gap: 100px;
}

section {
  margin-bottom: 50px;
}

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {
  margin: 0;
}

/* Make the name of each menu item appear in bold in a 20px size. */

dd {
  margin: 0 0 12px 0;
  display: flex;
}

.details {
  order: 1;
}

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {
  order: 2;
  padding-left: 10px;
}

.or{
  order: 3;
  padding-left: 10px;
}

/* Draw a 2px dashed rosybrown border around the address/footer */
address {
  padding-top: 100px;
}

footer{
  padding-top: 50px;
}
